
.heading {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.error{
    top: 48.5px;
    right: 8px;
}

.error2{
    top: 48.5px;
    right: 20px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.modal-custom {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-custom-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 50%;
    max-width: 500px;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
    opacity: 0;
    transition: all 0.5s ease;
}

.modal-animation {
    opacity: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}