
.heading {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.error{
    top: 48.5px;
    right: 8px;
}

.error2{
    top: 48.5px;
    right: 20px;
}